# general
.old/
.tmp/
# tex
.aux
.bbl
.bcf
.blg
-blx.aux
-blx.bib
.brf
.idx
.lof
.log
.lot
.nav
.maf
.mtc*
.out
.ptc*
.run.xml
.snm
.spl
.synctex
.synctex\(busy\)
.synctex.gz
.synctex.gz\(busy\)
.thm
.toc
# windows
.DS_Store
